@page

@model RegisterVisitors.ListModel
@{
    ViewData["Title"] = "List";
}
    <meta http-equiv="refresh" content="300" />
<!--
    <h2>Visitors</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var visitor in Model.Visitors)
    {
    <tr>
        <td>@visitor.Name</td>
        <td>@visitor.Company</td>
        <td>@visitor.Visiting</td>
        <td>
            <a class="btn btn-lg" asp-page="./Detail" asp-route-visitorId="@visitor.Id">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>
            <a class="btn btn-lg" asp-page="./Form" asp-route-visitorId="@visitor.Id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
    </tr>
    }

</table>

<a asp-page="./Form" class="btn btn-primary">Registrera besök</a>
-->
<!--<img src="~/images/orango.png" id="logoListPage" />-->
    <div id="listViewHeader"> 
        <h1>Besökare på kontoret</h1>
    </div>

<div id="visitorsCarousel">
    <div class="carousel slide" data-ride="carousel" data-interval="5000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <h3>Våra besökare här idag:</h3>
            </div>
            @foreach (var visitor in Model.Visitors)
            {
                <div class="item">
                    <h3>Besökare: @visitor.Name</h3>
                    <h3>Företag/Organisation: @visitor.Company</h3>
                    <h3>Besöker: @visitor.Visiting</h3>
                </div>
            }
        </div>
    </div>
</div>

